/* head container  */
.nav-bar {
  border-bottom: 2px solid #00000008;
}

.head-container {
  background-color: #ffffff;
  padding-top: 80px !important;
}

.head-container .head-box .box {
  width: 50%;
}

.head-container .head-box .left-box .title h2 {
  color: #2e2cd7;
  text-align: center;
  font-size: 46px;
}

.head-container .head-box .left-box .title img {
  height: 26px;
  margin-top: 20px !important;
  margin-bottom: 14px !important;
}

.head-container .head-box .left-box .title h1 {
  color: #2e2cd7;
  text-align: center;
  font-size: 46px;
  font-family: fsBold;
}

.head-container .head-box .left-box .info p {
  color: #2e2cd7;
  font-size: 24px;
  text-align: center;
}

.head-container .head-box .right-box .img-container img {
  height: 560px;
  margin-bottom: -30px !important;
}

/* .about container  */
.about-container {
  background-color: #040416;
  padding-top: 80px !important;
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.about-container .box {
  width: 50%;
}

.about-container .left-box .title h1 {
  color: #979797;
  font-family: bgLight;
  font-size: 24px;
}

.about-container .left-box .info p {
  font-size: 22px;
  font-family: bgLight;
  color: #ffffff;
  line-height: 1.8;
}

.about-container .right-box .img-container img {
  height: 470px;
  margin-bottom: -140px !important;
}

/* responsive  */
@media (max-width: 1300px) {
  .head-container .head-box .left-box .info p br {
    display: none;
  }
}

@media (max-width: 1150px) {
  .head-container .head-box .left-box .info p br {
    display: none;
  }
  .head-container .head-box .right-box .img-container img {
    height: 500px;
  }
  .about-container .box {
    width: auto;
  }
  .about-container .left-box .title h1 br {
    display: none;
  }
  .about-container .left-box .info p br {
    display: none;
  }
}

@media (max-width: 1023px) {
  .head-container {
    padding-bottom: 80px !important;
  }
  .head-container .head-box .left-box .title h2 {
    font-size: 42px;
  }
  .head-container .head-box .left-box .title h1 {
    font-size: 42px;
  }
  .head-container .head-box .left-box .title img {
    height: 24px;
  }
  .head-container .head-box {
    flex-direction: column;
  }
  .head-container .head-box .box {
    width: 100%;
  }
  .head-container .head-box .left-box .info p br {
    display: block;
  }
  .head-container .head-box .left-box .info p:nth-last-child(1) {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .head-container .head-box .right-box .img-container {
    justify-content: center;
    align-items: center;
  }
  .head-container .head-box .right-box .img-container img {
    margin-top: -70px !important;
  }
}

@media (max-width: 767px) {
  .head-container .head-box .left-box .title h2 {
    font-size: 36px;
  }
  .head-container .head-box .left-box .title img {
    font-size: 22px;
  }
  .head-container .head-box .left-box .title h1 {
    font-size: 36px;
  }
  .head-container .head-box .left-box .info p:nth-child(1) {
    padding-bottom: 0 !important;
  }
  .about-container {
    flex-direction: column;
  }
  .about-container .box {
    width: 100%;
  }
  .about-container .left-box {
    padding-bottom: 40px !important;
  }
  .about-container .left-box .title h1 {
    text-align: center;
  }
  .about-container .left-box .title h1 br {
    display: block;
  }
  .about-container .left-box .info p {
    text-align: center;
  }
  .about-container .right-box .img-container {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .head-container .head-box .left-box .info p br {
    display: none;
  }
}

@media (max-width: 550px) {
  .head-container .head-box .left-box .title h2 {
    font-size: 32px;
  }
  .head-container .head-box .left-box .title img {
    font-size: 20px;
  }
  .head-container .head-box .left-box .title h1 {
    font-size: 32px;
  }
  .head-container .head-box .left-box .info p {
    font-size: 22px;
  }
  .about-container .left-box .title h1 {
    font-size: 22px;
  }
  .about-container .left-box .info p {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .head-container .head-box .right-box .img-container img {
    height: 440px;
  }
}

@media (max-width: 400px) {
  .head-container .head-box .right-box .img-container img {
    height: 410px !important;
  }
  .about-container .left-box .title h1 br {
    display: none;
  }
}

@media (max-width: 350px) {
  .head-container .head-box .right-box .img-container img {
    height: 380px !important;
  }
}
