/* head container  */
.nav-bar {
  border-bottom: 2px solid #00000008;
}

.head-container {
  background-color: #ffffff;
  padding-top: 80px !important;
}

.head-container .head-box .box {
  width: 50%;
}

.head-container .head-box .left-box .title h2 {
  color: #2e2cd7;
  text-align: center;
  font-size: 46px;
}

.head-container .head-box .left-box .title img {
  height: 26px;
  margin-top: 20px !important;
  margin-bottom: 14px !important;
}

.head-container .head-box .left-box .title h1 {
  color: #2e2cd7;
  text-align: center;
  font-size: 46px;
  font-family: fsBold;
}

.head-container .head-box .left-box .info h1 {
  font-size: 24px;
  color: #2e2cd7;
  text-align: center;
  font-family: bgMedium;
}

.head-container .head-box .left-box .info p {
  color: #2e2cd7;
  font-family: bgLight;
  font-size: 18px;
  text-align: center;
}

.head-container .head-box .right-box .img-container img {
  height: 560px;
  margin-bottom: -24px !important;
}

/* responsive  */
@media (max-width: 1023px) {
  .head-container {
    padding-bottom: 80px !important;
  }
  .head-container .head-box .left-box .title h2 {
    font-size: 42px;
  }
  .head-container .head-box .left-box .title h1 {
    font-size: 42px;
  }
  .head-container .head-box .left-box .title img {
    height: 24px;
  }
  .head-container .head-box {
    flex-direction: column;
  }
  .head-container .head-box .box {
    width: 100%;
  }
  .head-container .head-box .left-box .info p:nth-last-child(1) {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .head-container .head-box .right-box .img-container {
    justify-content: center;
    align-items: center;
  }
  .head-container .head-box .right-box .img-container img {
    margin-top: -100px !important;
  }
}

@media (max-width: 767px) {
  .head-container .head-box .left-box .title h2 {
    font-size: 36px;
  }
  .head-container .head-box .left-box .title img {
    font-size: 22px;
  }
  .head-container .head-box .left-box .title h1 {
    font-size: 36px;
  }
  .head-container .head-box .left-box .info p:nth-child(1) {
    padding-bottom: 0 !important;
  }
}

@media (max-width: 550px) {
  .head-container .head-box .left-box .title h2 {
    font-size: 32px;
  }
  .head-container .head-box .left-box .title img {
    font-size: 20px;
  }
  .head-container .head-box .left-box .title h1 {
    font-size: 32px;
  }
}

@media (max-width: 450px) {
  .head-container .head-box .right-box .img-container img {
    height: 440px;
  }
}

@media (max-width: 400px) {
  .head-container .head-box .right-box .img-container img {
    height: 410px !important;
  }
  .head-container .head-box .left-box .info p br {
    display: none;
  }
}

@media (max-width: 350px) {
  .head-container .head-box .right-box .img-container img {
    height: 380px !important;
  }
}
